body {
 background-color:#ffffff;
 margin-left: 15px;
 margin-top: 15px;
 margin-right: 15px;
 margin-bottom: 10px;
}
.homesub {background-color:#A8A8A8; font-family:Arial; font-size:10pt; color:#000000; font-weight:normal;}
.homesub2 {background-color:#E8E8E8; font-family:Arial; font-size:8pt; color:#000000; font-weight:normal;}
.homesub2-a {background-color:#FFFFFF; font-family:Arial; font-size:8pt; color:#000000; font-weight:normal;}

A {font-family:Arial, Helvetica, sans-serif; color:#000000;}
A:visited {color:#000000;}
A:active {color:#000000;}
A:hover {color:#000000;}

A.sub {font-family:Arial, Helvetica, sans-serif; color:#000000; text-decoration:none; font-weight:normal;}
A:visited.sub {color:#000000;}
A:active.sub {color:#000000;}
A:hover.sub {color:#000000; text-decoration:underline;}

A.sub-a {font-family:Arial, Helvetica, sans-serif; color:#000000; text-decoration:none; font-weight:bold;}
A:visited.sub-a {color:#000000;}
A:active.sub-a {color:#000000;}
A:hover.sub-a {color:#000000; text-decoration:underline;}

A.sub2 {font-family:Arial, Helvetica, sans-serif; color:#000000; text-decoration:none; font-weight:normal;}
A:visited.sub2 {color:#000000;}
A:active.sub2 {color:#000000;}
A:hover.sub2 {color:#000000; text-decoration:underline;}

A.sub2-a {font-family:Arial, Helvetica, sans-serif; color:#000000; text-decoration:none; font-weight:normal;}
A:visited.sub2-a {color:#000000;}
A:active.sub2-a {color:#000000;}
A:hover.sub2-a {color:#000000; text-decoration:underline;}

A.alt {text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:8pt; color:#000000;}
A.alt:visited {color:#FFFFFF;}
A.alt:active {color:#FFFFFF;}
A.alt:hover {color:#FFFFFF;}
A.colhead {color:#FFFFFF;}
A.colhead:visited {color:#FFFFFF;}
A.colhead:active {color:#FFFFFF;}
A.colhead:hover {color:#FFFFFF;}

A.sub2-b {font-family:Arial, Helvetica, sans-serif; color:#006644; text-decoration:none; font-weight:bold;}
A:visited.sub2-b {color:#006644;}
A:active.sub2-b {color:#006644;}
A:hover.sub2-b {color:#006644; text-decoration:underline;}

.headerfont {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14pt;
	font-weight:bold;
	color:#000000;
}

.green-headerfont {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14pt;
	font-weight:bold;
	color:#229977;
}
.black-headerfont {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14pt;
	font-weight:bold;
	color:#000000;
}
.black-messagefont {
	font-family:Arial, Helvetica, sans-serif;
	font-size:7.5pt;
	font-weight:normal;
	color:#000000;
}
.grey-headerfont {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
	font-weight:bold;
	color:#666666;
}

.promptfont, .promptfontbold {
	font-family:Arial;
	font-size:11pt;
	font-weight:normal;
	color:#000000;
}

.welcomefont,.welcomefontbold {
	font-family:Arial;
	font-size:9pt;
	font-weight:normal;
	color:#666666;
}
.welcomefontbold {
	font-weight:bold;
}
.loginname {
 font-family:Arial;
	font-size:15pt;
	font-weight:bold;
	color:#666666;
}

.subtitle {
 font-family:Arial;
	font-size:9pt;
	font-weight:normal;
	color:#666666;
}

.subtitle2 {
 font-family:Arial;
	font-size:10pt;
	font-weight:normal;
	color:#666666;
}

.subtitlebold {
 font-family:Arial;
	font-size:9pt;
	font-weight:bold;
	color:#333333;
}

.subtitlebold2 {
 font-family:Arial;
	font-size:10pt;
	font-weight:bold;
	color:#333333;
}

.subtitleunderline {
 font-family:Arial;
	font-size:9pt;
	font-weight:normal;
	color:#000000;
	text-decoration:underline;
}

.mainfont, .mainfontbold {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	font-weight:normal;
	color:#000000;
}
.minifont, .minifontbold {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:#000000;
}
.mainfontbold {font-weight:bold;}
.promptfontbold {font-weight:bold;}
.minifontbold {font-weight:bold;}

.copyright {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:normal;
} 

.errortitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#FF9900;
}

.subaccountmenu {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11pt;
	font-weight:bold;
	color:#333333;
}

.subaccountmenu2 {
 font-family:Arial;
	font-size:11pt;
	font-weight:normal;
	color:#006644;
}

.subaccountmenu3 {
 font-family:Arial;
	font-size:11pt;
	font-weight:normal;
	color:#666666;
}

.errortext {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	font-weight:normal;
	color:#000000;
	background-color:#EAEAEA;
}
.columnheader, .columnheaderu, .pcolumnheader, .portallabel {
	font-family:Arial;
	font-size:9pt;
	font-weight:bold;
	color:#333333;
	text-decoration:none;
}
.columnheaderu {
 text-decoration:underline;
}

.ltrow, .pltrow {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	color:#000000;
	background-color:#FFFFFF;
}
.dkrow, .pdkrow {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	color:#000000;
	background-color:#EAEAEA;
}
.pcolumnheader {font-size:8pt;}
.pltrow {font-size:8pt;}
.pdkrow {font-size:8pt;}
.portallabel {font-size:8pt; height:18; background-color:#000066;}
.portaloutline {background-color:#3366CC;}

.asterisk {
	font-size:12pt;
	color:#FF9900;
}

.quicklinks {
	font-family:Arial;
	font-size:11pt;
	font-weight:bold;
	color:#ffffff;
}

.subquicklinks,.subquicklinksu {
 font-family:Arial;
	font-size:9pt;
	color:#006644;
 text-decoration=none;
}

.subquicklinksu {
 text-decoration=underline;
}

.subquicklinks3 {
 font-family:Arial;
	font-size:10pt;
	color:#006644;
 text-decoration=none;
}

.footerbold {
	font-family:Arial;
	font-size:9pt;
	font-weight:bold;
	color:#333333;
}

.footer {
	font-family:Arial;
	font-size:9pt;
	font-weight:normal;
	color:#666666;
}

.footerlinks {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#006644;
}

.tableheader {
 font-family:Arial;
	font-size:10pt;
	font-weight:bold;
	color:#FFFFFF;
}

.subquicklinks2 {
 font-family:Arial;
	font-size:9pt;
	color:#006644;
}

.navlinks {
 font-family:Arial;
	font-size:9pt;
	color:#B6B6B6;
}
.subaccountmenu3Bold2 {
 font-family:Arial;
	font-size:11pt;
	font-weight:Bold;
	color:#666666;
}

.mainfontnou {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	font-weight:normal;
	color:#000000;
	text-decoration=none;
}

.solid-green { padding: 5px; border: 2px solid #229977; }

.itemheaders {
 font-family:Arial;
	font-size:9pt;
	font-weight:Bold;
	color:#000000;
}

#ban {
	padding-right: 12px;
}
	#ban img {
		margin-bottom: 7px;
	}
.error {
	color: #F66;
	font-weight: bold;
}